<div class="auth-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label>Email</label>
    <input type="email" formControlName="email" />
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
      Email inválido.
    </div>

    <label>Senha</label>
    <input type="password" formControlName="password" />
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      Senha é obrigatória (mín. 6 caracteres).
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
  </form>

  <p>
  Não tem conta?
  <button routerLink="/register" type="button">Cadastre-se</button>
</p>
</div>
